<ion-view view-title="Dashboard">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon">
          <img src="main/assets/images/Dummy Battery Icon.png" width="30">
        </i>
        <ds-widget-clock show-digital theme="blue-light" digital-format="'hh:mm:ss a'"></ds-widget-clock>
      </a>

      <ion-item class="item item-icon">
        <!-- Theme blue-light is defined is css -->
        <div class="button-bar">
          <a ng-repeat="d in data.list"
             class="button"
             ng-class="d.selected ? 'button-royal' : 'button-dark'"
             ng-bind="d.label"
             ng-click="onClick(d)"
          ></a>
        </div>
      </ion-item>

      <div class="item item-body">
        <img class="full-image" ng-src="{{data.selected.image}}">
        <!--<p>-->
          <!--This is a "Facebook" styled Card. The header is created from a Thumbnail List item,-->
          <!--the content is from a card-body consisting of an image and paragraph text. The footer-->
          <!--consists of tabs, icons aligned left, within the card-footer.-->
        <!--</p>-->
        <!--<p>-->
          <!--<a href="#" class="subdued">1 Like</a>-->
          <!--<a href="#" class="subdued">5 Comments</a>-->
        <!--</p>-->
      </div>

    </div>
  </ion-content>
</ion-view>
